/* Text styles */
.xr_s0 {font-family:'Nunito';font-weight:normal;font-style:normal;font-size:80px;text-decoration:none;font-feature-settings:'kern','liga' 0,'clig' 0,'calt' 0,'titl' 0,'salt' 0,'swsh' 0,'cswh' 0;text-transform: none;color:#001020;background-color:Transparent;letter-spacing:0em;}
